<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Finanza - Financial Services Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>



    <!-- Service Start -->
    <div class="container-xxl service py-5">
        <div class="container">
            
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-lg-4">
                    <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>1. Arabic Class</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>2. Basic Qur'an Class</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>3. Alqisc Kids Academy Class</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>4. Hafazan Class</h5>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content w-100">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="img/arabic clas.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Every Saturday <br>from 5.00- 7.00 pm</h3>
                                    <p class="mb-4">An Arabic class is a structured learning environment where students are taught the Arabic language, including its script, vocabulary, grammar, and pronunciation. The class often focuses on developing four main language skills: reading, writing, listening, and speaking.
                                    </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Experience and Knowledge</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Certificate</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Language skill Development</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Networking</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Valuable feedback from the teacher</p>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfK7grSTa3bKslrc09jn2DHe_xX7ye2X4DkzLxr2E82zJOH8Q/viewform" class="btn btn-primary py-3 px-5 mt-3">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="img/quran cl.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Every Saturday <br>from 7.40- 9.00 pm</h3>
                                    <p class="mb-4">In a Basic Qur'an class, participants focus on improving their Qur'an recitation by mastering Tajweed rules, such as proper articulation of letters (Makharij al-Huruf), understanding the characteristics of sounds (Sifat al-Huruf), and applying elongation rules (Madd). The class typically involves guided recitation practice, where students recite individually or in groups while receiving corrections from the teacher. By the end of the class, students aim to recite beautifully, accurately, and confidently, connecting more deeply with the Qur'an.
                                    </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Improved Qur'an Recitation</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Develop smoother and more confident recitation skills </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Correct errors in pronunciation or Tajweed</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Receive step-by-step guidance from qualified teachers </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Networking</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Certificate</p>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfK7grSTa3bKslrc09jn2DHe_xX7ye2X4DkzLxr2E82zJOH8Q/viewform" class="btn btn-primary py-3 px-5 mt-3">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="img/kids class.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Every Saturday <br>from 6.00- 7.00 pm</h3>
                                    <p class="mb-4">The Kids Academy Class, organized by the Al-Quran and Islamic Club of Albukhary International University, is a vibrant and engaging program designed to nurture young minds with Islamic values and Quranic teachings in a fun and interactive way.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Foster a love for the Quran and Islamic knowledge from an early age.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Develop positive character traits rooted in Islamic teachings.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Learn through play and creativity in a supportive community.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Build confidence and understanding of Islamic identity.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Certificate</p>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfK7grSTa3bKslrc09jn2DHe_xX7ye2X4DkzLxr2E82zJOH8Q/viewform" class="btn btn-primary py-3 px-5 mt-3">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-4">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="img/Tajweed class.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Every Saturday <br>from 2.30-5.00 pm</h3>
                                    <p class="mb-4">In a Hafazan class, students focus on memorizing and reciting Quranic verses with correct Tajweed, revising previous memorization, understanding meanings, and participating in activities like group recitations, corrections, and motivational sessions.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Correct Qur'anic Recitation</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Improves rhythm and flow for smoother recitation</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Provides a strong foundation for memorizing the Qur'an.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Improves Focus and concentration during recitation</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Networking</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Certificate</p>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfK7grSTa3bKslrc09jn2DHe_xX7ye2X4DkzLxr2E82zJOH8Q/viewform" class="btn btn-primary py-3 px-5 mt-3">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>